# Godot
.godot/
*.translation

# GDExtension build
extension/godot-cpp/
extension/.sconsign.dblite
extension/src/*.obj
addons/lightgun/bin/*.exp
addons/lightgun/bin/*.lib
addons/lightgun/bin/*.pdb

# Godot's GDExtension hot-reload temp copies
addons/lightgun/bin/~*
